.floatup-div {
    backface-visibility: hidden;
    /* border-radius: 0.375rem; */
    /* border-style: solid; */
    /* border-width: 0.125rem; */
    box-sizing: border-box;
    cursor: pointer;
    letter-spacing: -0.01em;
    line-height: 1.3;
    padding: 0.875rem 1.125rem;
    position: relative;
    transform: translateZ(0) scale(1);
    transition: transform 0.2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .floatup-div:not(:disabled):hover {
    transform: scale(1.05);
  }
  
  .floatup-div:not(:disabled):hover:active {
    transform: scale(1.05) translateY(0.125rem);
  }
  
  .floatup-div:focus {
    outline: 0 solid transparent;
  }
  
  .floatup-div:focus:before {
    content: "";
    left: calc(-1 * 0.375rem);
    pointer-events: none;
    position: absolute;
    top: calc(-1 * 0.375rem);
    transition: border-radius;
    user-select: none;
  }
  
  .floatup-div:focus:not(:focus-visible) {
    outline: 0 solid transparent;
  }
  
  .floatup-div:focus:not(:focus-visible):before {
    border-width: 0;
  }
  
  .floatup-div:not(:disabled):active {
    transform: translateY(0.125rem);
  }